---
// src/pages/blog/index.astro
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<Layout title="Blog • arctan">
    <section class="mx-auto">
        <h1 class="text-xl font-semibold mb-6 text-foreground">blogs</h1>

        <ul class="flex flex-col">
            {
                posts.map((post) => (
                    <li>
                        <a href={`/blog/${post.slug}/`} class="group flex justify-between items-baseline py-2 border-b border-border/30 hover:border-border/60 transition-colors">
                            <span class="text-lg group-hover:underline">{post.data.title}</span>
                            <span class="text-sm opacity-50">
                                {post.data.pubDate.toLocaleDateString("en-US", {
                                    month: "short",
                                    day: "2-digit",
                                    year: "numeric",
                                })}
                            </span>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>
